/*Sizes of the property can be given in percentages,pixels,inches,cm,mm,points,pc,fontsizes,charsizes,viewportdimensions(vw&vh)*/
body {
    margin: 0;
    padding: 0;
    font-family: "Robot", sans-serif;
    font-size: 16px;
    /* It will change the size of the font*/
    font-weight: 400;
    /*normal font weight gives the thickness of the fonts*/
    ;
    /*text-align: justify;this will justify the text in the body*/
    /*text-transform: uppercase; this will change the text to uppercase*/
    /*line-height: 1.5; this will change the line height of the text*/
    color: #444444;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    /*text-transform: lowercase; this will change the text to lowercase*/
    /*text-decoration: underline/overline/line-through; this will underline/overline/line-through the text*/
    color: #222222;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

/*rem is relative to the root element's font size which in this case is the 2.5 times of the root element's font size*/
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #3B82F6;
}

a:hover {
    color: #1D4ED8;
}

#navbar {
    padding: 10px;
    margin: 0;
}

#logo {
    height: 30px;
}

#banner {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#reference {
    width: 50%;
    padding-right: 10px;
    font-size: 1.25rem;
    /* This will change the font size of the reference section */
}

#team {
    width: 50%;
    padding: 7px;

}

#team-image {
    border-radius: 5px;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(20, 20, 20);
}

h2 {
    text-align: center;
    color: black;
}

#application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.form-group{
    margin: 16px 0;
}

#application-form label {
    font-weight: 600;
}

#application-form input,select,textarea {
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-group textarea {
    width: 80%;
    font-family: 'roboto', sans-serif;
}

.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"]{
    background-color: #3B82F6;
    color: white;
    font-weight :500;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#jobs-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.jobs-header-row th {
    border: 1px solid gray;
    padding: 10px;
    background-color: #BFDBFE;
    /*recommended to use light colors so that the headers and text is readable to the viewer*/
    text-align: center;
}

.jobs-data-row td {
    border: 1px solid gray;
    padding: 10px;
}

#jobs-table tr:nth-child(odd) {
    background-color: #EFF6FF;
}


#footer {
    background-color: #FAFAFA;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li {
    display: inline;
    margin-right: 60px;
    margin-left: 20px;
}

.copyr {
    color: #71717A;
    font-size: 12px;
    margin-top: 10px;
    font-size: 0.85;
}